" ref: https://www.cyberwizard.io/posts/the-ultimate-ideavim-setup/
" Finding action ids: https://github.com/JetBrains/ideavim?tab=readme-ov-file#finding-action-ids
let mapleader = ','
" Disable that annoying bell sound
set visualbell
set noerrorbells
" set clipboard+=ideaput
set clipboard+=unnamed
set clipboard+=ideaput
set number relativenumber
set hlsearch
set ignorecase incsearch smartcase
set showmode showcmd
set ideajoin

" plugins
set highlightedyank
" set sneak
" set nerdtree
" setup idea-which-key
" set whick-key notimeout timeoutlen=5000

nnoremap <leader>m :nohls<cr>
nnoremap gp :b#<cr>
nnoremap Y yy
nnoremap ' `
nmap <Leader>v :vsplit<CR>
nmap <Leader>s :split<CR>

" inoremap <C-n> <Action>(PopupMenu-selectNext)
" inoremap <C-p> <Action>(PopupMenu-selectPrev)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv
" Greatest remap EVER!! 
" Let me explain, this remap while in visiual mode
" will delete what is currently highlighted and replace it 
" with what is in the register BUT it will YANK (delete) it 
" to a VOID register. Meaning I still have what I originally had
" when I pasted. I don't loose the previous thing I YANKED!vnoremap
vnoremap <leader>p "_dP

" handlers
sethandler <D-[> a:vim
sethandler <D-u> a:vim
sethandler <D-d> a:vim
sethandler <M-w> a:vim
sethandler <M-\> a:vim
sethandler <C-h> a:vim
sethandler <C-j> a:vim
sethandler <C-k> a:vim
sethandler <C-l> a:vim

nnoremap gi :action GotoImplementation<CR>
nnoremap gD :action GotToDeclaration<CR>
nnoremap gp :action GotToSuperMethod<CR>
nnoremap gf :action GotoFile<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap gc :action CopyReference<CR>
nnoremap gy :action GotoTypeDeclaration<CR>
nnoremap [c :action Diff.PrevChange<CR>
nnoremap ]c :action Diff.NextChange<CR>
nnoremap <space>gd :action Diff.ShowDiff<CR>
nnoremap [d :action GotoPreviousError<CR>
nnoremap ]d :action GotoNextError<CR>
nnoremap [g :action VcsShowPrevChangeMarker<CR>
nnoremap ]g :action VcsShowNextChangeMarker<CR>

nnoremap <leader>f :action ReformatCode<CR>
nnoremap <leader>e :action RecentChangedFiles<CR>
imap <D-e> :action RecentChangedFiles<CR>

nnoremap K :action ParameterInfo<CR>
" Make shift + arrow key work again
nnoremap <S-Left> :action EditorLeftWithSelection<CR>
nnoremap <S-Right> :action EditorRightWithSelection<CR>
nnoremap <S-Up> :action EditorUpWithSelection<CR>
nnoremap <S-Down> :action EditorDownWithSelection<CR>

inoremap <S-Left> <C-O>:action EditorLeftWithSelection<CR>
inoremap <S-Right> <C-O>:action EditorRightWithSelection<CR>
inoremap <S-Up> <C-O>:action EditorUpWithSelection<CR>
inoremap <S-Down> <C-O>:action EditorDownWithSelection<CR>
" Git
nmap <Leader>gp :action Git.Pull<CR>
nmap <Leader>gP :action Vcs.Push<CR>
nmap <Leader>gl :action Git.Log<CR>
nmap <Leader>gh :action Github.Open.In.Browser<CR>
nmap <Leader>gg :action Git.Branches<CR>
nmap <Leader>gb :action Git.Branches<CR>
nmap <Leader>gr :action IdeaVim.ReloadVimRc.reload<CR>
nmap <Leader>ge :e ~/.ideavimrc<CR>
nmap <Leader>zz :action ToggleDistractionFreeMode<CR>

nnoremap <c-\> :action SplitVertically<CR>
nnoremap <C-h> <c-w>h
nnoremap <C-l> <c-w>l
nnoremap <C-j> <c-w>j
nnoremap <C-k> <c-w>k
nnoremap <c-=> :action Unsplit<CR>
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>

imap <D-[> <Esc>
map <D-u> :action EditorPageUp<cr>
map <D-d> :action EditorPageDown<cr>
map <D-e> <action>(RecentFiles)
map <C-c> <Esc>


map <leader>1 :action ActivateProjectToolWindow<CR>
" map <leader>! :action SelectInProjectView<CR>
map <leader>r <Action>(RenameElement)

nnoremap <space>tc :action GotoAction<CR>
nnoremap <space>tf :action FindInPath<CR>
nnoremap <space>mo :action ActivatebspToolWindow<CR>
