[user]
	name = Clive Gurure
	email = clivethescott@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[includeIf "gitdir:~/wizenoze/source/"]
  path = .gitconfig-wizenoze
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/clive/.gitignore
