[include]
    path = .local.gitconfig
[include]
    path = ~/dotfiles/git/delta-gitconfig
[init]
	defaultBranch = main
[commit]
  verbose = true

[difftool]
  # Run the difftool immediately, don't ask 'are you sure' each time.
  prompt = false

[difftool "nvimdiff"]
	cmd = nvim -d -c \"wincmd w\" -c \"wincmd L\" \"$LOCAL\" \"$REMOTE\"

[pager]
  difftool = true

[diff]
  compactionHeuristic = true
  tool = ???

[merge]
  tool = "nvim"

[mergetool]
	prompt = false
	keepBackup = false
  conflictstyle = zdiff3

[push]
	autoSetupRemote = true

