[user]
	name = Clive Gurure
	email = clivethescott@gmail.com
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/clive/.gitignore
  pager = delta
[commit]
  verbose = true
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  side-by-side = true
  line-numbers = true

[diff]
  algorithm = patience
  compactionHeuristic = true
  tool = nvimdiff
  colorMoved = default

[merge]
  tool = "diffview"

[mergetool]
	prompt = false
	keepBackup = false
  conflictstyle = diff3

[difftool "nvimdiff"]
	cmd = nvim -d -c \"wincmd w\" -c \"wincmd L\" \"$LOCAL\" \"$REMOTE\"

[mergetool "nvim"]
	cmd = nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"

[mergetool "fugitive"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[mergetool "diffview"]
  cmd = nvim -c \"DiffviewOpen\"

[push]
	autoSetupRemote = true
