gui:
  branchColors:
    "master": "#ff5500"
    "main": "#ff5500"
  nerdFontsVersion: "3"
  authorColors:
    "Clive Gurure": "#b4befe"
    "Clive Scott": "#b4befe"
    "*": "yellow"
  enlargedSideViewLocation: "top"
  theme:
    activeBorderColor:
      - "#fab387"
      - bold
    inactiveBorderColor:
      - "#a6adc8"
    optionsTextColor:
      - "#89b4fa"
    selectedLineBgColor:
      - "#313244"
    cherryPickedCommitBgColor:
      - "#45475a"
    cherryPickedCommitFgColor:
      - "#fab387"
    unstagedChangesColor:
      - "#f38ba8"
    defaultFgColor:
      - "#cdd6f4"
    searchingActiveBorderColor:
      - "#f9e2af"
git:
  commitPrefix:
    - pattern: "^ASTX-(\\d{4}).*"
      replace: "ASTX-$1 "
    - pattern: "^NOTICKET.*?"
      replace: "NOTICKET "
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
      externalDiffCommand: difft --color=auto
  disableForcePushing: true
confirmOnQuit: false
update:
  method: never
disableStartupPopups: true
keybinding:
  universal:
    scrollUpMain-alt1: <disabled>
services:
  "github.bamtech.co": "github:github.bamtech.co"
customCommands:
  - key: "G"
    context: "localBranches"
    description: "Open/Create PR"
    command: |
      #!/bin/bash
      REMOTE_URL=$(git remote get-url origin 2>/dev/null || echo "")
      if [[ "$REMOTE_URL" == *"github.com"* ]]; then
        gh pr view --web || gh pr create --web
      else
        echo "Unsupported Git provider with remote URL: $REMOTE_URL"
        exit 1
      fi
  - key: "U"
    context: "commits"
    description: "Undo last commit (keep changes)"
    command: "git reset --mixed HEAD~1"
  - key: "<c-n>"
    context: "localBranches"
    description: "Create branch"
    prompts:
      - type: "input"
        title: "JIRA Ticket number"
        key: "TicketNumber"
        initialValue: ""
      - type: "input"
        title: "Branch Name (no spaces)"
        key: "BranchName"
        initialValue: ""
    command: "git switch -c 'ASTX-{{ .Form.TicketNumber }}-{{.Form.BranchName}}'"
    loadingText: "Creating new branch..."
