gui:
  branchColors:
    "master": "#ff5500"
    "main": "#ff5500"
  nerdFontsVersion: "3"
  authorColors:
    "Clive Gurure": "#b4befe"
    "Clive Scott": "#b4befe"
    "*": "yellow"
  enlargedSideViewLocation: "top"
  theme:
    activeBorderColor:
      - "#fab387"
      - bold
    inactiveBorderColor:
      - "#a6adc8"
    optionsTextColor:
      - "#89b4fa"
    selectedLineBgColor:
      - "#313244"
    cherryPickedCommitBgColor:
      - "#45475a"
    cherryPickedCommitFgColor:
      - "#fab387"
    unstagedChangesColor:
      - "#f38ba8"
    defaultFgColor:
      - "#cdd6f4"
    searchingActiveBorderColor:
      - "#f9e2af"
git:
  commitPrefix:
    - pattern: "^ASTX-(\\d{4}).*"
      replace: "ASTX-$1 "
    - pattern: "^NOTICKET.*?"
      replace: "NOTICKET "
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never --line-numbers
      externalDiffCommand: difft --context=3 --color=always --syntax-highlight=off --display=inline
  disableForcePushing: true
confirmOnQuit: false
update:
  method: never
disableStartupPopups: true
keybinding:
  universal:
    scrollUpMain-alt1: <disabled>
services:
  "github.bamtech.co": "github:github.bamtech.co"
  "github.twdcgrid.net": "github:github.twdcgrid.net"
customCommands:
  - key: "G"
    command: "gh pr view --web {{.SelectedLocalBranch.Name}}"
    context: "localBranches"
    description: "Open Github PR in browser"
  - key: "G"
    command: "gh pr view --web"
    context: "commits"
    description: "Open Github PR in browser"
  - key: "U"
    context: "commits"
    description: "Undo last commit (keep changes)"
    command: "git reset --mixed HEAD~1"
  - key: "<c-n>"
    context: "localBranches"
    description: "Create branch"
    prompts:
      - type: "input"
        title: "JIRA Ticket number"
        key: "TicketNumber"
        initialValue: ""
      - type: "input"
        title: "Branch Name (no spaces)"
        key: "BranchName"
        initialValue: ""
    command: "git switch -c 'ASTX-{{ .Form.TicketNumber }}-{{.Form.BranchName}}'"
    loadingText: "Creating new branch..."
  - key: "B"
    context: "localBranches"
    description: "Select GH PR for checkout"
    loadingText: "Checking out GitHub Pull Request..."
    command: "gh pr checkout {{.Form.PullRequestNumber}}"
    prompts:
      - type: "menuFromCommand"
        title: "Which PR do you want to check out?"
        key: "PullRequestNumber"
        command: >-
          gh pr list --json number,title,headRefName,updatedAt
          --template '{{`{{range .}}{{printf "#%v: %s - %s (%s)" .number .title .headRefName (timeago .updatedAt)}}{{end}}`}}'
        filter: "#(?P<number>[0-9]+): (?P<title>.+) - (?P<ref_name>[^ ]+).*"
        valueFormat: "{{.number}}"
        labelFormat: '{{"#" | black | bold}}{{.number | white | bold}} {{.title | yellow | bold}}{{" [" | black | bold}}{{.ref_name | green}}{{"]" | black | bold}}'
  - key: "M"
    command: "git mergetool {{ .SelectedFile.Name }}"
    context: "files"
    loadingText: "opening git mergetool"
  - key: "E"
    description: "Add empty commit"
    context: "commits"
    command: 'git commit --allow-empty -m "empty commit"'
    loadingText: "Committing empty commit..."
